<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Now it works </h1>

            </div>

        </div>
        
        <div class="container">
            <div class="row">
                <p align="center">Copyright &copy; 2015 Brain4ce educational solutions Pvt. ltd.All rights reserved.
                    <a data-toggle="modal" href="#myModal">Terms and Conditions</a>
                </p>
            </div>
        </div>
        
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Terms and Conditions</h2>
                        </div>
                        <div class="modal-body">
                            <p>We are a team of very enthusiatic people who are determined to make learning easy for everyone.At edureka
                                we believe in smart work and give awesome experience to our clients
                                <br/><br/>
                                Learning is supposed to  be an enjoyable experiecen and we give our best to it.
                                <br/>
                                If you think the same, come <a target="_blank" href="https://www.edureka.co/">Join us</a>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>